.menu {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #941f1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  padding: 15px 10px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu:hover {
  background-color: #5c5c5c;
}

/*______________________________________________________________toggleMenu______________________________________________*/
.sidebar {
  width: 400px;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .sidebar {
    width: 100vw;
  }
}

.sidebar-header {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.sidebar-header h1 {
  color: #202020;
  font-weight: 900;
  font-size: 2rem;
}

.logo-img {
  width: 90px;
}

.logo-img img {
  width: 100%;
}

.close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #202020;
  font-size: 2.5rem;
  padding: 12px;
  margin: 0 5px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.close-btn:hover {
  background-color: #941f1f;
}

.nav-menu {
  width: 100%;
  background-color: aqua;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (80px)[5];
      grid-template-rows: repeat(5, 80px);
}

.nav-menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #941f1f;
  border-bottom: 2px solid white;
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-menu li:hover {
  color: #941f1f;
  background-color: white;
}

.nav-menu li .navlink {
  color: white;
  text-decoration: none;
}

.nav-menu li .navlink:hover {
  color: #941f1f;
}
/*# sourceMappingURL=sidebar.css.map */